@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --team-primary: #007A33;
  --team-secondary: #BA9653;
}

body {
  background: #0a0a0a;
  color: #ededed;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
